{% load static %}
<header>
   <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <div class="container">
          <img src="{% static 'img/logo.png' %}" width="60" height="60" class="d-inline-block align-top" alt="">
          <span width="30" height="30"  style="color:red">Интернет-магазин "Взгляд кота"</span>
        </a>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </nav>  
</header>